# Prisma supports the native connection string format for PostgreSQL.
# See: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/coworking?schema=public"

JWT_SECRET="troque-este-segredo-em-producao"

API_KEY="troque-esta-chave-em-producao"
